.disp-f {
    display: flex;
}
  
.j-c-c {
    justify-content: center;
}
  
.j-sp-ard {
    justify-content: space-around;
}
  
.f-end  {
    justify-content: flex-end;
}
  
.al-c {
    align-items: center;
}
  
.f-d-col {
    flex-direction: column;
}
  
.f-d-col-r {
    flex-direction: column-reverse;
}
  
.f-wrap-wrap {
    flex-wrap: wrap;
}