.computer-background {
    background-image: url('../medias/images/pic01.jpg');
    background-size: cover;
}
  
.wave-background {
    background-image: url('../medias/images/pic02.jpg');
    background-size: cover;
}

.station-background {
    background-image: url('../medias/images/pic03.jpg');
    background-size: cover;
}

.man-background {
    background-image: url('../medias/images/pic04.jpg');
    background-size: cover;
}

.plant-background {
    background-image: url('../medias/images/pic05.jpg');
    background-size: cover;
}

.mountain-background {
    background-image: url('../medias/images/pic06.jpg');
    background-size: cover;
}

.objects-background {
    background-image: url('../medias/images/pic07.jpg');
    background-size: cover;
}

.city-background {
    background-image: url('../medias/images/pic08.jpg');
    background-size: cover;
}

.mont-background {
    background-image: url('../medias/images/pic09.jpg');
    background-size: cover;
}

.farm-background {
    background-image: url('../medias/images/pic10.jpg');
    background-size: cover;
}

.woman-background {
    background-image: url('../medias/images/pic11.jpg');
    background-size: cover;
}

.mansky-background {
    background-image: url('../medias/images/pic12.jpg');
    background-size: cover;
}