$primary-font: 'Source Sans Pro', sans-serif;
$dark-color: #3d3d3d;

body {
  font-family: $primary-font;
}

.disp-f {
  display: flex;
}

.j-c-c {
  justify-content: center;
}

.al-c {
  align-items: center;
}

.f-end  {
  justify-content: flex-end;
}

.mg-2vw {
  margin: 2vw;
}

.mg-tb-10vh {
  margin: 10vh 0;
}

.w-90vw {
  width: 90vw;
}

.f-d-col {
  flex-direction: column;
}

.line-h-30px {
  line-height: 30px;
}

.mg-0 {
  margin: 0;
}

.f-s-35px {
  font-size: 35px;
}

.w-75-h-50px {
  width: 75px;
  height: 50px;
}

.b-rad-5px {
  border-radius: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.f-weight-600 {
  font-weight: 600;
}

.l-sp-10px {
  letter-spacing: 10px;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.mg-r-10px {
  margin-right: 10px;
}

.grey-color {
  background-color: rgba(255, 255, 255, 0.5);
}

.burger-icon {
  span {
    display: block;
    margin: 5px 0;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background-color: $dark-color;
  }
}