body {
  font-family: "Source Sans Pro", sans-serif;
}

.computer-background {
  background-image: url("../medias/images/pic01.jpg");
  background-size: cover;
}

.wave-background {
  background-image: url("../medias/images/pic02.jpg");
  background-size: cover;
}

.station-background {
  background-image: url("../medias/images/pic03.jpg");
  background-size: cover;
}

.man-background {
  background-image: url("../medias/images/pic04.jpg");
  background-size: cover;
}

.plant-background {
  background-image: url("../medias/images/pic05.jpg");
  background-size: cover;
}

.mountain-background {
  background-image: url("../medias/images/pic06.jpg");
  background-size: cover;
}

.objects-background {
  background-image: url("../medias/images/pic07.jpg");
  background-size: cover;
}

.city-background {
  background-image: url("../medias/images/pic08.jpg");
  background-size: cover;
}

.mont-background {
  background-image: url("../medias/images/pic09.jpg");
  background-size: cover;
}

.farm-background {
  background-image: url("../medias/images/pic10.jpg");
  background-size: cover;
}

.woman-background {
  background-image: url("../medias/images/pic11.jpg");
  background-size: cover;
}

.mansky-background {
  background-image: url("../medias/images/pic12.jpg");
  background-size: cover;
}

.pink-filter {
  background-color: #f2849e;
}

.pink-darker-filter {
  background-color: #c75b9b;
}

.purple-filter {
  background-color: #ae85ca;
}

.blue-filter {
  background-color: #8499e7;
}

.blue-cyan-filter {
  background-color: #7ecaf6;
}

.green-filter {
  background-color: #7bd0c1;
}

.apparition-filter > .pink-filter {
  opacity: 0.75;
}
.apparition-filter > .pink-filter:hover {
  opacity: 0;
}

.apparition-filter > .blue-cyan-filter {
  opacity: 0.75;
}
.apparition-filter > .blue-cyan-filter:hover {
  opacity: 0;
}

.apparition-filter > .green-filter {
  opacity: 0.75;
}
.apparition-filter > .green-filter:hover {
  opacity: 0;
}

.apparition-filter > .pink-darker-filter {
  opacity: 0.75;
}
.apparition-filter > .pink-darker-filter:hover {
  opacity: 0;
}

.apparition-filter > .purple-filter {
  opacity: 0.75;
}
.apparition-filter > .purple-filter:hover {
  opacity: 0;
}

.apparition-filter > .blue-filter {
  opacity: 0.75;
}
.apparition-filter > .blue-filter:hover {
  opacity: 0;
}

.disp-f {
  display: flex;
}

.j-c-c {
  justify-content: center;
}

.j-sp-ard {
  justify-content: space-around;
}

.f-end {
  justify-content: flex-end;
}

.al-c {
  align-items: center;
}

.f-d-col {
  flex-direction: column;
}

.f-d-col-r {
  flex-direction: column-reverse;
}

.f-wrap-wrap {
  flex-wrap: wrap;
}

.disp-none {
  display: none;
}

.gap-30px {
  gap: 30px;
}

.p-fixed {
  position: fixed;
  z-index: 1;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.mg-2vw {
  margin: 2vw;
}

.mg-tb-10vh {
  margin: 10vh 0;
}

.mg-t-5vh {
  margin-top: 5vh;
}

.mg-b-5vw {
  margin-bottom: 5vw;
}

.mg-0 {
  margin: 0;
}

.mg-r-10px {
  margin-right: 10px;
}

.pad-0 {
  padding: 0;
}

.w-90vw {
  width: 90vw;
}

.w-100pc {
  width: 100%;
}

.w-dsktp {
  width: 90vw;
}

.h-90vw {
  height: 90vw;
}

.h-100pc {
  height: 100%;
}

.w-75-h-50px {
  width: 75px;
  height: 50px;
}

.uppercase {
  text-transform: uppercase;
}

.line-h-30px {
  line-height: 30px;
}

.f-s-35px {
  font-size: 35px;
}

.f-weight-600 {
  font-weight: 600;
}

.l-sp-10px {
  letter-spacing: 10px;
}

.b-rad-5px {
  border-radius: 5px;
}

.bg-grey {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-grey-clear {
  background-color: #f6f6f6;
}

.ls-s-none {
  list-style: none;
}

.burger-icon span {
  display: block;
  margin: 5px 0;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background-color: #3d3d3d;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.apparition-txt > a > div > .text {
  display: none;
}
.apparition-txt:hover > a > div > .text {
  display: block;
}

.social-net-box {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 5px;
}

.txt-al-c {
  text-align: center;
}

.txt-decoration {
  text-decoration: none;
  color: white;
}

.input-d, .textarea-d {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
}

.input-d:focus, .textarea-d:focus {
  outline: none;
}

.btn {
  width: 90vw;
  text-align: center;
  border: none;
  background-color: #3d3d3d;
  font-weight: 900;
  color: white;
  padding: 15px;
}

@media screen and (min-width: 830px) {
  .h-90vw {
    height: 25vw;
  }
  .w-dsktp {
    width: 25vw;
  }
  .f-d-dsktp {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gap-5vw {
    gap: 5vw;
  }
  .mg-b-5vw {
    margin: 0;
  }
  .btn {
    width: 10vw;
    margin-top: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
